<section id="container" class="container-fluid">
  <h1>Флэшкарточкер</h1>

  <section>
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
  </section>
</section>
